SLIUTEST/MDM/datamodel/aa_0.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="aa">
<xsd:complexType>
<xsd:all>
<xsd:element name="aaId" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="0" name="test" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:unique name="aa">
<xsd:selector xpath="."/>
<xsd:field xpath="aaId"/>
</xsd:unique>
</xsd:element>
</xsd:schema>
